<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartRing"
        tools:targetApi="31">
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false"
            android:label="@string/auth_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SmartRing"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".tasbeeh.DailyTasbeehActivity"
            android:exported="false"
            android:label="@string/daily_calendar_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SmartRing" />
        <activity
            android:name=".blessing.BlessingActivity"
            android:exported="false"
            android:label="@string/blessing_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SmartRing" />
        <activity
            android:name=".blessing.BlessingDisplayActivity"
            android:exported="true"
            android:label="@string/blessing_arrived_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SmartRing">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.com.zx.smartring.blessing" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/Theme.SmartRing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".reminder.RecitationReminderReceiver"
            android:exported="false" />
        <receiver
            android:name=".reminder.RecitationBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
